.git
.github
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
public/build
public/hot
.env
.env.*
*.log
*.sql
*.md
debug_*.php
check_*.php
test_*.php
